@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0; /* Remove default margin */
    touch-action: manipulation; /* Prevent touch zooming */
    overflow: hidden;
}

body{
    background: rgb(53, 53, 53);    
}

.main-data-wrapper{
    margin: 0 auto;
    padding: 0;
    width: 95%;
}

.main-data{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-data-cell{
    background-color: #242424;
    color: white;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 10px 5px;
    border: none;
    border-radius: 10px;
}

.total-coins{
    height: 5vh;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 50px 0 20px 0;
}

.total-coins img{
    height: 100%;
    margin: 0 10px 0 0;
}

.main-coin-wrapper{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#main-coin{
    background-color: transparent;
    border: none;
}

.main-coin-wrapper img{
    width: 100%;
}