@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0; /* Remove default margin */
    touch-action: manipulation; /* Prevent touch zooming */
    overflow: hidden;
}

body {
    background: rgb(53, 53, 53); 
    display: flex;
    flex-direction: column;   
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.total-coins {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 50px 0 20px 0;
}

.total-coins img {
    height: 30px; /* Adjusted to fit better */
    margin-right: 10px;
}

.main-coin-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-coin {
    background-color: transparent;
    border: none;
    padding: 0;
}

#main-coin img {
    width: 100%;
    max-width: 300px; /* Prevents image from being too large */
    border-radius: 50%;
}

.main-data-wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

.main-data {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted to space out the cells evenly */
    width: 100%;
}

.main-data-cell {
    background-color: #242424;
    color: white;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 10px 5px;
    border: none;
    border-radius: 10px;
    text-align: center; /* Center-aligns the text inside cells */
}
