html, body{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(175, 174, 174);
    border-radius: 20px;
}

nav{
    background-color: black;
    position: absolute;
    bottom: 10px;
    width: 100%;
    max-width: 200px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}