/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/*MAIN COLORS*/
:root{
/*DARK COLORS*/
    --background-color-bottom-dark: #191A1D;
    --background-color-top-dark: #34393E;
    --card-color-dark: #34393E;
    --text-color-dark: #A7A8AA;
    --level-color: #65d681;
    --level-color-dark: #789980;
    --progress-level: 60%;
/*LIGHT COLORS*/
}

/*MAIN STYLES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
    user-select: none;
    -webkit-user-select: none; /* Safari, Chrome, and Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer and Edge */
    user-select: none; /* Standard syntax */
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background: linear-gradient(to right, #CED7E0, #7C7B89);
    padding: min(5%, 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CARD*/
.card{
    max-width: 365px;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: var(--card-color-dark);
    border-radius: 30px;
    padding: 20px;
    box-shadow:  4px 4px 8px #151719, -3px -3px 6px rgb(255, 255, 255);
}

.card .card-text{
    color: var(--text-color-dark);
    font-size: 30px;
    font-weight: 500;
}

.card .budget{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: min(34.3px, 8.5vw);
    text-wrap: wrap;
}

.card .card-number{
    font-size: min(34.3px, 8.5vw);
    text-wrap: nowrap;
}

.card .registration-date{
    font-size: min(24px, 6vw);
}

.data-container{
    display: flex;
    max-width: 365px;
    width: 100%;
    flex-direction: row;
    aspect-ratio: 12/2;
    padding: 0;
    margin-top: 10px;
    gap: 5px;
}

.data {
    flex-grow: 1;
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    align-items: center; /* center horizontally */
    background-color: var(--card-color-dark);
    border-radius: 30px;
    padding: 0px;
    box-shadow: inset 3px 3px 6px #151719, inset -3px -3px 6px rgb(161, 160, 160);
    padding: 10px;
}

.data span:nth-child(1){
    display: flex;
    align-items: center;
}

.data span:nth-child(2){
    font-weight: bold;
}


.progressbar {
    width: 90%;
    max-width: 330px;
    max-height: 7px;
    height: 1.9vw;
    border-radius: 5px;
    background: #2B2E33;
    box-shadow: inset 0px 2px 5px rgb(0, 0, 0), -0px 2px 3px #ffffff;
    overflow: hidden;
    margin-top: 7px;
}

.progressbar .progress {
    height: 100%;
    border-radius: 0px;
    background: var(--level-color)/*linear-gradient(to right, red, orange, yellow)*/;
    width: 0%;
    box-shadow: inset 0px 1px 6px black;
}

.next-level{
    display: flex;
    font-weight: bold;
    width: 90%;
    max-width: 330px;
    justify-content: right;
}

nav{
    width: 90%;
    height: 70px;
    position: absolute;
    bottom: 20px;
    max-width: 365px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar{
    aspect-ratio: 1;
    height: 100%;
    background-color: #24272C;
    border-radius: 40px;
    box-shadow:  4px 4px 8px #000000, -3px -3px 6px rgb(255, 255, 255);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
button i{
    color: #d4d4d4;
    font-size: 30px;
    text-shadow: inset 20px 20px 60px #b4b4b4, inset -20px -20px 60px #f4f4f4;
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    --color: hsl(0, 0%, 87%);
    --animation: 2s ease-in-out infinite;
  }
  
  .loader .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 2px var(--color);
    border-radius: 50%;
    margin: 0 10px;
    background-color: transparent;
    animation: circle-keys var(--animation);
  }
  
  .loader .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color);
    animation: dot-keys var(--animation);
  }
  
  .loader .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: outline-keys var(--animation);
  }
  
  .circle:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .circle:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .circle:nth-child(4) {
    animation-delay: 0.9s;
  }
  
  .circle:nth-child(5) {
    animation-delay: 1.2s;
  }
  
  .circle:nth-child(2) .dot {
    animation-delay: 0.3s;
  }
  
  .circle:nth-child(3) .dot {
    animation-delay: 0.6s;
  }
  
  .circle:nth-child(4) .dot {
    animation-delay: 0.9s;
  }
  
  .circle:nth-child(5) .dot {
    animation-delay: 1.2s;
  }
  
  .circle:nth-child(1) .outline {
    animation-delay: 0.9s;
  }
  
  .circle:nth-child(2) .outline {
    animation-delay: 1.2s;
  }
  
  .circle:nth-child(3) .outline {
    animation-delay: 1.5s;
  }
  
  .circle:nth-child(4) .outline {
    animation-delay: 1.8s;
  }
  
  .circle:nth-child(5) .outline {
    animation-delay: 2.1s;
  }
  
  @keyframes circle-keys {
    0% {
      transform: scale(1);
      opacity: 1;
    }
  
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes dot-keys {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes outline-keys {
    0% {
      transform: scale(0);
      outline: solid 20px var(--color);
      outline-offset: 0;
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      outline: solid 0 transparent;
      outline-offset: 20px;
      opacity: 0;
    }
  }