/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/*MAIN COLORS*/
:root{
/*DARK COLORS*/
    --background-color-bottom-dark: #191A1D;
    --background-color-top-dark: #34393E;
    --card-color-dark: #34393E;
    --level1-color: #65d681;
    --progress-level: 80%;
/*LIGHT COLORS*/
}

/*MAIN STYLES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background: linear-gradient(to top, var(--background-color-bottom-dark), var(--background-color-top-dark));
    padding: min(5%, 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*CARD*/
.card{
    max-width: 365px;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: var(--card-color-dark);
    border-radius: 30px;
    padding: 20px;
    box-shadow:  3px 3px 6px #151719, -3px -3px 6px #535b63;
}

.card .card-text{
    color: #A7A8AA;
    font-size: 30px;
    font-weight: 500;
}

.card .budget{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: min(34.3px, 8.5vw);
    text-wrap: wrap;
}

.card .card-number{
    font-size: min(34.3px, 8.5vw);
    text-wrap: nowrap;
}

.card .registration-date{
    font-size: min(24px, 6vw);
}


.data{
    max-width: 365px;
    width: 100%;
    aspect-ratio: 16/3;
    background-color: var(--card-color-dark);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 3px 3px 6px #151719, -3px -3px 6px #535b63;
    margin-top: 10px;
}

.progressbar {
    margin-top: 10px;
    width: 90%;
    max-width: 330px;
    height: 7px;
    border-radius: 5px;
    background: #2B2E33;
    position: relative;
    box-shadow: inset 0px 2px 5px rgb(0, 0, 0), -0px 2px 3px #555a64;
    overflow: hidden;
}

.progressbar .progress {
    height: 100%;
    border-radius: 5px;
    background: var(--level1-color)/*linear-gradient(to right, red, orange, yellow)*/;
    width: var(--progress-level);
    box-shadow: inset 0px 1px 6px black;
}


