@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    height: 220px;
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 365px;
  }

  .card img {
    height: 10%;
    bottom: 30px;
    position: absolute;
    right: 30px;
  }

.card__text {
    color: #6f7886;
    margin-left: 30px;
    margin-top: 100px;
    position: relative;
}